<header>
    <div class="overlay">
        <h1>Welcome to ZentrBlog</h1>
        <h3>Create,Edit,Delete</h3>
        <h2>Embark on a journey of discovery and reflection. At Zenblog, we explore ideas, share insights, and embrace inspiration in every form. Whether you're here for tech tips, personal stories, or to catch up on the latest trends, there's something for
            everyone. Let's navigate this journey together with curiosity and a sense of calm.</h2>
        <br>

        <div class="button-container">
            <button routerLink="/login" *ngIf="!isLoggedIn()">Go to Login</button>
            <button (click)="logout()" *ngIf="isLoggedIn()">Logout</button>
            <button routerLink="/create-article" *ngIf="isLoggedIn()" class="create-article-button">Create Article</button>
            <input type="text" placeholder="Search by title" [(ngModel)]="searchTerm" (input)="filterArticles()" />
            <button routerLink="/blog" class="blog-button">Go to Blog</button>
        </div>
    </div>
</header>

<div class="main-content">
    <section class="articles">
        <article *ngFor="let article of filteredArticles">
            <div class="article-wrapper">
                <figure>
                    <img [src]="article.profile_image_url" alt="Article Image" />
                </figure>
                <div class="article-body">
                    <h2>{{ article.title }}</h2>
                    <p class="article-summary" [innerHTML]="article.sanitizedSummary"></p>
                    <p>Author: {{ article.author_unique_id }}</p>
                    <a href="#" class="read-more" (click)="openModal(article); $event.preventDefault()">
                        Read more <span class="sr-only"> about</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                        </svg>
                    </a>

                    <button routerLink="/edit-article/{{article.id}}">Edit</button>
                    <button (click)="deleteArticle(article.id)">Delete</button>
                </div>
            </div>
        </article>
    </section>
</div>

<!-- Modal Structure for Viewing Article -->
<div class="modal" [class.show]="isModalOpen">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2>{{ selectedArticle?.title }}</h2>
        <div [innerHTML]="selectedArticle?.sanitizedSummary"></div>
    </div>
</div>