RewriteEngine On

# Hide .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

# Redirect to the correct PHP file
RewriteRule ^login$ login.php [L]
RewriteRule ^register$ register.php [L]
RewriteRule ^post_comment$ post_comment.php [L]
RewriteRule ^create_article$ create_article.php [L]
RewriteRule ^articles$ get_articles.php [L]
RewriteRule ^articles_by_author$ get_articles_by_author.php [L]
RewriteRule ^user_details$ get_user_details.php [L]
RewriteRule ^upload_image$ upload_image.php [L]
RewriteRule ^delete_article$ delete_article.php [L]
RewriteRule ^edit_article$ edit_article.php [L]
RewriteRule ^articles_with_user$ get_articles_with_user.php [L]
RewriteRule ^like_article$ like_article.php [L]
RewriteRule ^dislike_article$ dislike_article.php [L]
RewriteRule ^add_comment$ add_comment.php [L]
RewriteRule ^comments$ get_comments.php [L]